langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-huggingface
langchain-chroma
pypdf
chromadb
pdf2image
pillow
opencv-python
opencv-contrib-python
pytesseract
numpy
python-dotenv
fastapi
uvicorn
python-multipart
google-api-core
sentence-transformers
rank_bm25
boto3
pytest